<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8"/>
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js"></script>
    </head>
    <title> [포트리스] 드론 카메라 </title>
    <script>
        var auto_refresh = setInterval(function()
            {                
                var getData = $.get('/result');
                getData.done(function(result){
                    var result = result.result;
                    document.getElementById("d_result").innerHTML = result;
                });
            },1000); 
        function submit2(frm){
            frm.action='/';
            frm.submit();
            return ture;
        }
        function submit3(frm){
            frm.action='/';
            frm.submit();
            return ture;
        }
        function submit4(frm){
            frm.action='/';
            frm.submit();
            return ture;
        }
        function submit5(frm){
            frm.action='/';
            frm.submit();
            return ture;
        }
    </script>
    <body>
        <div style="background-color:lightgrey; text-align:center">
            <h2>FORTRESS DRONE CAMERA</h2>
        </div>
        <div style='text-align:center'>
            <img src='/video' style="width:50%">
        </div>
        <div style='text-align:center'>
        <form action="/" method="POST">
            <div>
                숫자인식<input type="submit" name="object" value={{object_detect}}>
            </div>
            <input type="submit" name="detect" value="detect">
            <p style="font-size: 24px">이미지 인식 결과</p>
            <p style="font-size: 70px" id='d_result'></p>
            <div>
                <input type="radio" name="expansion" value="Y">
                <label for="Y">틈 없애기</label>
                <input type="radio" name="expansion" value="N">
                <label for="N">원래대로</label>
                <input type="button" value="next" onclick='return submit2(this.form);'>
                {{ex}}
            </div>
            <details>
                <summary>상세 변수 변경</summary>
                <p>S값(현재: {{param['threshold_S']}},60~100)</p>
                <div>
					<input type="text" name="threshold_S"> <input type="button" value="Enter" onclick='return submit3(this.form);'>
				</div>
                <p>V값(현재: {{param['threshold_V']}},10~30)</p>
                <div>
					<input type="text" name="threshold_V"> <input type="button" value="Enter" onclick='return submit4(this.form);'>
				</div>
                <p>Thresh값(현재: {{param['threshold']}},200~254)</p>
                <div>
					<input type="text" name="threshold"> <input type="button" value="Enter" onclick='return submit5(this.form);'>
				</div>
            </details>
        </form>
        </div>
    </body>
</html>
